<%= render 'shared/navbar' %>
<div class="container content mt-6">

  <h1 class="">Public Recipes</h1>
  
  <% if @recipes.empty? %>
  <p class="">Sorry, there are no public recipes at the moment. Check back later.</p>
  <% end %>

  <% @recipes.each do |recipe| %>
    <div class="recipes columns mt-4 box">
        <div class="column">
          <h2><%= link_to (recipe.name), recipe_path(recipe)%></h2>
          <p class="mt-5">by: <%= recipe.user.name %></p>
          <% if can? :manage, recipe %>
           <%= button_to "REMOVE", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
          <% end %>
        </div>
        <div class="description column mr-6">
          <p class=""><%= recipe.description %></p>
        </div> 
    </div>
  <% end %>
</div>
