<%# <p style="color: green"><%= notice %</p> %>
<div class="container">
  <button class="column mt-5 is-offset-11"><%= link_to "Add Food",  new_food_path %></button>
  
  <div class=" columns mt-6 is-centered">
    <% if @foods.empty? %>
  
      <h3 class="text-center">You have no food yet!</h3>
      <p class="text-center">Try adding from the New food button below</p>
  
    <% else %>
  <table class="table is-bordered is-striped">
    <thead>
      <th><strong>Food</strong></th>
      <th><strong>Measurement unit</strong></th>
      <th><strong>Unit Price</strong></th>
      <th><strong>Quantity</strong></th>
      <th><strong>Actions</strong></th>
    <thead>
    <tbody>
      <% @foods.each do |food| %>
      <tr>
        <%= render food %>
        <td><%= button_to "Destroy this food", food, method: :delete %></td>
        <%# <td><p><%= link_to "Show this food", food %</p></td> %>
      <% end %>
  
      <% end %>
      </tr>
    </tbody>
  </table>
  </div>
</div>