<%= render 'shared/navbar' %>

<div class="content mt-6">
  <%# <%= render @food %>
  <p><strong>Name: </strong><%= @food.name %></p>

  <p><strong>Measurement unit: </strong><%= @food.measurement_unit %></p>

  <p><strong>Price: </strong>$ <%= @food.price %></p>

  <p><strong>Quantity: </strong><%= @food.quantity %></p>
  
  <div>
    <%= link_to "Edit this food", edit_food_path(@food) %> |
    <%= link_to "Back to foods", foods_path %>
  
    <%# <%= button_to "Destroy this food", @food, method: :delete %>
  </div>
</div>
